@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=0swap');

/* font-family: 'Source Code Pro', monospace **/

*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

root{
	--font-primaria: 'Roboto', sans-serif;
	--cor-fundo: #101728;
}

body{
	background-color: #101728;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

.logo{
	padding: 10px;

}

.capa{
	/*margin-top:30px;
	margin-left: 40px;
	margin-right: 40px;*/
	
	display: flex;
	justify-content: center;
	padding: 10px;
}

.capa__titulo{
	font-size:70px ;
	font-weight: 600;
	padding-right: 16px;
}

.capa__link{
	padding-right: 16px;
	padding-top: 60px;

}

.capa__link a{
	padding: 16px;
	text-decoration: none;
	color: #0F1819;
	font-size: 20px;
	
	border-radius: 50px;
	background-color: #9340FF;
}
.capa__link a:hover{
	padding: 16px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 24px;
	background-color: #FF3C5F;
}

.capa__sobre{
	
	margin-top: 80px;
	/*display: flex; */
	/*flex-direction: column;*/
	/*text-align: center;*/
	padding: 80px;

	width: 800px;
}

.sobre__titulo{
	font-size: 50px;
	padding: 60px;
}

.sobre__titulo__destaque{
	color:#9340FF ;
}

.sobre__texto{
	font-size: 16.5px;
	text-align: center;
	padding-left: 60px;
}

.sobre__0{
	margin: 50px;
	display: flex;
	justify-content: space-around;
	text-align: left;
	

}

.sobre__1{
	margin: 50px;
	

}


.sobre__1__titulo{
	color:#9340FF;
	padding: 16px;
	font-size: 36px;
	text-align: left;

	
}

.sobre__texto__p{
	font-size: 16.5px;
	padding: 16px;
	text-align: left;

	
}


.sobre__foto{
	flex-direction: row;
	align-items: flex-end;
	width: 30%;
	height: 30%;

	
}

.contatos{
	margin: 50px;
	display: flex;
	


}

.logo__contato{
	display: flex;
	padding: 10px;
	justify-content: end;
}

.logo__contato_img{
	
	
	width: 300px;
	height: 100px;quotes: ;
	
}
